.content {
  background-color: transparent;
  color: #fff;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
}
.content_title {
  margin: 15px 0px;
  text-align: center;
  font-weight: bold;
}
.content_components p {
  padding: 0px 20px;
  color: #f5f9fc;
}
.content_components li {
  list-style-type: none;
  background: #27272f;
  color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 50, 0.25);
  padding: 10px 10px;
  font-size: 14px;
  margin: 10px 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
